/.idea
/nbproject
/node_modules
#/public/hot
#/public/storage
#/public/webhooks.php
/public/deploy.log
#/public/robots.txt
/storage/*.key
/vendor
#/html
/.well-known
php.ini
.user.ini
#.htaccess
.env
#composer.json
composer.lock
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
*.sql
*_1.php
!spec/_1.php
*_2.php
!spec/_2.php
*_1.php
!spec/_1.php
*backup.php
!spec/backup.php
